.selectInput {
  height: 32px;
  padding: 0;
  margin: 0 !important;
  border: 1px solid var(--light);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  font-size: 14px;
  outline: none;
}

.selectInput-small {
  height: 22px !important;
  font-size: 10px;
}

.selectInput:hover {
  cursor: pointer;
  border: 1px solid var(--hoverLight);
}

.selectInput:focus {
  outline: none;
  border: 1px solid var(--activeLight);
}