/* add css module styles here (optional) */
:root {
  --blue: #2A86EC;
  --hoverBlue: #2C76BE;
  --activeBlue: #225E99;
  --purple: #945EB0;
  --hoverPurple: #703490;
  --activePurple: #582374;
  --green: #26BE52;
  --hoverGreen: #29843D;
  --activeGreen: #186028;
  --red: #F1433A;
  --hoverRed: #B6211A;
  --activeRed: #901913;
  --orange: #EF9F23;
  --hoverOrange: #D07F00;
  --activeOrange: #A76806;
  --light: #EDEDED;
  --hoverLight: #BFBFBF;
  --activeLight: #969696;
  --dark: #384048;
  --hoverDark: #2C3239;
  --activeDark: #232323;
}

.test {
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.body {
  background-color: white;
}